$poppins: 'Poppins', sans-serif;
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400; 

$blue: #252f43;
$lightBlue: #45569f;
$white: #FFF;
$darkGrey: #5c6267;
$lightGrey: #f8f9fa;
$black: #212529;